/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif,
    system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
  --max-container-width: 768px;
  --gutter: 16px;
  --color-opacity: 1;
  --color-black: rgba(5, 5, 5, 1);
  --color-text: rgba(64, 64, 64, 1);
  --color-gray: rgba(85, 85, 85, 1);
  --color-shallow: rgba(115, 115, 115, 1);
  --color-fleet: rgba(163, 163, 163, 1);
  --color-border: rgba(229, 229, 229, 1);
  --color-white: rgba(255, 255, 255, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-black) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-deep);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  width: var(--max-container-width);
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}
