---
import { getCollection, getEntry } from "astro:content"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts")

  return posts.map(({ slug, data }) => {
    return {
      params: { slug },
      props: { title: data.title },
    }
  })
}

const { slug } = Astro.params
const { title } = Astro.props

const entry = await getEntry("posts", slug)
const { Content, headings } = await entry.render()
---

<Layout classes={["flex justify-between container mx-auto xl:max-w-screen-xl"]}>
  <article class="prose prose-invert w-[768px] max-w-screen-md flex-none mx-auto">
    <h1>{title}</h1>
    <Content />
  </article>
  {
    headings.length > 0 && (
      <aside class="w-[320px] flex-none relative pt-10">
        <ul class="fixed">
          {headings
            .filter(item => item.depth < 3)
            .map(item => {
              return (
                <li class:list={[{ "indent-4": item.depth === 2 }]}>
                  <a href={`#${item.slug}`}>{item.text}</a>
                </li>
              )
            })}
        </ul>
      </aside>
    )
  }
</Layout>
