---
import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro"
---

<Layout title="All articles" desc="">
  <section class="container mx-auto xl:max-w-screen-md">
    <h1 class="font-bold font-jost text-lg py-6 md:text-xl lg:text-2xl my-4">Articles</h1>

    <PostList />
  </section>
</Layout>
