---
import Heart from "../../components/Heart.astro"

const greeting = ["👋 Hello, I'm iwfan!"]
---

<section>
  <div class="container mx-auto magicpattern xl:max-w-screen-xl font-jost">
    <div
      class:list={[
        "grid grid-cols-1 p-4 sm:justify-items-center",
        "md:grid-cols-6 md:grid-rows-6 md:justify-items-stretch md:items-center",
      ]}>
      <h1
        class:list={[
          "col-span-full text-glow20 font-bold",
          "text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl",
          "py-2 sm:py-3 md:py-5",
        ]}
        style="text-shadow: 0px 0px 1em rgba(188, 251, 195, 0.30)">
        👋 Hi, It's Ivan here!
      </h1>

      <h2
        class:list={[
          "md:col-span-3 md:row-span-2 md:self-center",
          "text-text10 font-semibold font-prose",
          "text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl",
          "py-1 pb-12 sm:pt-1.5 sm:pb-8 md:py-0",
        ]}>
        A software engineer and passionate coder.
      </h2>

      <div
        class:list={["md:row-start-2 md:row-span-4 md:col-start-4 md:col-span-3", "justify-self-center self-center"]}>
        <Heart />
      </div>

      <div
        class:list={[
          "text-text20 font-medium justify-self-center md:justify-self-start md:row-start-4 md:col-span-3",
          "text-lg md:text-xl xl:text-2xl py-12 sm:py-8 md:py-0",
        ]}>
        <p class="whitespace-nowrap">
          💬 Less is solid and <span class="text-yellow-500">Solid is more</span>,
        </p>
        <p class="indent-16 whitespace-nowrap">
          Slow is smooth and <span class="text-red20">Smooth is fast</span>.
        </p>
      </div>

      <a
        href="https://skillicons.dev/"
        class:list={["justify-self-center self-center md:row-start-6 md:col-span-full select-none"]}>
        <img
          src="https://skillicons.dev/icons?i=ts,react,nextjs,astro,svelte,vue,tailwind,neovim,bash,vscode,github,cloudflare,sentry,supabase"
          alt="skills"
          width="800"
          height="48"
        />
      </a>
    </div>
  </div>
</section>

<style>
  /* https://www.magicpattern.design/tools/grid-background-pattern-generator */
  .magicpattern {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("/magic-pattern.svg");
  }
</style>
