.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

.notion-selectable.notion-code-block .line-numbers.notion-code-block {
  background-color: #011627;
  border-radius: 10px;
}

.notion-selectable.notion-code-block .line-numbers.notion-code-block > div {
  color: #ffffff !important;
}

.notion-selectable.notion-code-block [role="button"] {
  color: #ffa7c4 !important;
  opacity: .6;
}

.notion-selectable.notion-code-block [role="button"] svg {
  fill: #ffa7c4 !important;
}

.notion-selectable.notion-header-block {
  color: inherit !important;
}
