---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <article class="max-w-screen-md mx-auto font-sans">
    <h1 class="font-jost text-3xl">About</h1>
    <p>
      Hello there! I'm iwfan, a passionate software engineer and an avid Neovim
      enthusiast.
    </p>
    <p>
      The technologies, services, and inspiration that helped me build this
      website.
    </p>
    <h3>Inspiration</h3>
    <p>My website’s design is a reflection of those who inspire me:</p>
    <ul>
      <li>
        <a
          class="mx-2 text-link"
          href="https://www.figma.com/community/file/824810955262478067">
          Ryan Warner
        </a>
      </li>
    </ul>
  </article>
</Layout>
