---
import Layout from "../layouts/Layout.astro"
import HeroSection from "../layouts/partials/HeroSection.astro"
---

<Layout>
  <HeroSection />

  <!-- <section>
    <h1 class="text-text10 font-jost text-2xl font-semibold">What you get</h1>

    <div class="bg-blue10 pt-5 pl-6 rounded-lg relative">
      <div
        class="bg-blue10 rounded-full absolute p-3 flex items-center justify-center top-0 left-0">
        <img src="/flames/orange.svg" alt="flames" width="32" height="32" />
      </div>
      <article class="bg-blue20 rounded-lg py-8 px-11 shadow-lg">
        <h2 class="font-jost font-semibold text-lg text-text10">Notes</h2>
        <p class="font-jost text-base mt-3 text-text10">
          During my review, I take notes detailing actionable steps you can take
          to improve, as well as any valuable thoughts I have during my time
          with your project.
        </p>
      </article>
    </div>
  </section>
  <section class="mt-10 grid grid-cols-2 gap-12">
    <div
      class="py-9 px-10 rounded-md bg-blue20"
      style="box-shadow: 4px 4px 44px 0px rgba(0, 0, 0, 0.25), 3px 3px 13px 0px rgba(0, 0, 0, 0.20), -1px -1px 0px 0px rgba(130, 242, 249, 0.15);">
      <h3>Code splitting & lazy loading a server side rendered React app</h3>
      <p>
        Reasoning, approach, and goals Goals Faster initial load times. Users
        only download the code they need for the features they are using. This…
      </p>
    </div>
    <div></div>
  </section> -->
</Layout>
