---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
import HeroSection from "../layouts/fragments/HeroSection.astro"

const posts = await getCollection("posts", entry => true)

const LATEST_WORKS: Array<{ name: string; link: string; desc: string; color: string }> = [
  {
    name: "Quick Search",
    link: "https://www.raycast.com/iwfan/quick-search",
    desc: "Quick Search is a Raycase extension that use a global keyboard shortcut to quickly search selected text or clipboard text via Google or Github or DeepL etc.",
    color: "bg-glow20",
  },
  {
    name: "Beancount Meta",
    link: "https://www.raycast.com/iwfan/beancount-meta",
    desc: "Beancount Mate is the best teammate for double-entry bookkeeping.",
    color: "bg-red10",
  },
  {
    name: "Chore CLI",
    link: "https://github.com/iwfan/chore-cli",
    desc: "🛠️ chore-cli is the super assistant for building a typescript library. It can generate development infrastructure for projects or libraries, such as prettier, eslint, husky etc, or even Github Actions Config files. It can save a lot of time every time you create new stuff.",
    color: "bg-cyan10",
  },
]
---

<Layout>
  <HeroSection />

  <section class="container mx-auto xl:max-w-screen-xl mt-14">
    <h1 class="text-text10 font-bold font-jost text-lg py-6 md:text-xl lg:text-2xl">Works</h1>
    <div class="grid grid-cols-2 gap-8 items-start">
      {
        LATEST_WORKS.map(work => (
          <div class="rounded-lg bg-blue20 flex items-stretch">
            <div class:list={["flex-none rounded-tl-lg rounded-bl-lg w-1", work.color]} />
            <div class="p-8 flex-1">
              <h2 class="text-base md:text-lg font-medium">
                <a href={work.link}>{work.name}</a>
              </h2>
              <p class="mt-3">{work.desc}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <section class="container mx-auto xl:max-w-screen-xl mt-14">
    <h1 class="text-text10 font-bold font-jost text-lg py-6 md:text-xl lg:text-2xl">Latest Articles</h1>
    <ul>
      {
        posts.map(post => {
          return (
            <li>
              <a href={"/posts/" + post.slug}>{post.slug}</a>
            </li>
          )
        })
      }
    </ul>
  </section>
</Layout>
