---
import BaseHead from "./partials/BaseHead.astro"
import Header from "./partials/Header.astro"
import Footer from "./partials/Footer.astro"
import Container from "./partials/Container.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
---

<!DOCTYPE html>
<html lang="en" class="bg-blue10">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col font-sans antialiased text-text10">
    <Header title={SITE_TITLE} />
    <Container tag="main" class="flex-auto">
      <slot />
    </Container>
    <Footer />
  </body>
</html>
