---
import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro"
---

<Layout title="All articles" desc="Some translation. Some notes. Some memories.">
  <section class="container mx-auto max-w-screen-md px-4">
    <h1 class="font-bold font-jost text-xl py-6 md:text-2xl lg:text-3xl my-4">Articles</h1>
    <PostList />
  </section>
</Layout>
