---
import HeaderLink from "./HeaderLink.astro"
import Container from "../layouts/Container.astro"
import Fire from "../icons/Fire.astro"
import { SITE_TITLE } from "../consts"
---

<Container tag="header" class="flex items-center justify-between py-6">
  <h1 class="flex items-center text-lg font-bold cursor-pointer font-jost">
    <Fire class="mr-2 text-3xl" />
    <span class="u-underline transition-colors hover:text-glow20">
      {SITE_TITLE}
    </span>
  </h1>
  <nav class="space-x-2">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</Container>
