---
import { getCollection } from "astro:content"

import FormattedDate from "./FormattedDate.astro"

type Props = {
  filter?: (post: any, index: number) => boolean
}

const { filter = () => true } = Astro.props
const posts = await getCollection("posts")

let paritalPosts = posts
paritalPosts.sort((a, b) => +b.data.created_at - +a.data.created_at)
paritalPosts = paritalPosts.filter(filter)
---

<ul class="space-y-6">
  {
    paritalPosts.map(post => {
      return (
        <li class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <span class="text-lg md:text-xl w-6 flex items-center justify-center">{post.data.emoji}</span>
            <a href={"/posts/" + post.slug}>
              <h3 class="text-base md:text-lg">{post.data.title}</h3>
            </a>
          </div>

          <div class="flex items-start gap-2">
            <span class="w-6" />
            <FormattedDate date={post.data.created_at} class="text-blue50 text-sm" />
          </div>
        </li>
      )
    })
  }
</ul>
